<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../styles/reset.css" type="text/css">
        <link rel="stylesheet" href="../styles/styles.css" type="text/css">
        <link rel="stylesheet" href="../styles/header.css" type="text/css">
        <link rel="stylesheet" href="../styles/sidebar.css" type="text/css">
        <link rel="stylesheet" href="../styles/footer.css" type="text/css">
        <link rel="stylesheet" href="../styles/sign-up.css" type="text/css">
        <title>TrackGenix || Sign Up</title>
    </head>
    <body>
        <div class="flex-aside">
            <aside class="sidebar">
                <div class="div-form">
                    <form action="#">
                        <input type="text" name="search" placeholder="Search">
                        <a href="#"><img src="../assets/search.png" alt="icon of search"></a>
                    </form>
                </div>
                <div class="text-sidebar">
                    <p class="title-sidebar">Menu</p>
                    <ul>
                        <li><a href="index.html">Homepage</a></li>
                        <li><a href="#">Generic</a></li>
                        <li><a href="#">Submenu</a></li>
                    </ul>
                </div>
                <div class="text-sidebar">
                    <p class="title-sidebar">Get in Touch</p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Leo, venenatis volutpat fusce vitae, in suspendisse proin massa.
                        Mattis nulla libero nibh eu nisl sed.
                    </p>
                    <ul>
                        <li class="box-contact">
                            <img src="../assets/message.png" alt="icon of message">
                            <span>information@untitled.tld</span>
                        </li>
                        <li class="box-contact">
                            <img src="../assets/phone.png" alt="icon of phone">
                            <span>(000) 0000 00000</span>
                        </li>
                        <li class="box-contact">
                            <img src="../assets/home.png" alt="icon of home">
                            <span>1234 Somewhere Road #8254 Nashville, TN 00000-0000</span>
                        </li>
                    </ul>
                </div>
            </aside>
        </div>
        <div class="flex-main">
            <header>
                <div class="header">
                    <span><img src="../assets/burger.png" alt="icon of Burger Menu"></span>
                    <h1>TrackGenix</h1>
                    <nav>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="sign-up.html" id="sign">SignUp</a></li>
                            <li><a href="login.html">Login</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </header>
            <main>
                <div class="sign-flex">
                    <h2>Register</h2>
                    <form action="#">
                        <div class="form-sign">
                            <label for="name-sign">Name</label>
                            <input type="text" name="name" placeholder="John" id="name-sign">
                            <p class="error-text">Insert a valid Name!</p>
                        </div>
                        <div class="form-sign">
                            <label for="surName-sign">Surname</label>
                            <input type="text" name="lastName" placeholder="Doe" id="surName-sign">
                            <p class="error-text">Insert a valid Surname!</p>
                        </div>
                        <div class="form-sign">
                            <label for="dni">Id</label>
                            <input type="number" name="dni" placeholder="12.345.678" id="dni">
                            <p class="error-text">Insert a valid DNI!</p>
                        </div>
                        <div class="form-sign">
                            <label for="fdn-sign">Date of Birth</label>
                            <input type="date" name="dob" id="fdn-sign">
                            <p class="error-text">Must be over 18 years old!</p>
                        </div>
                        <div class="form-sign">
                            <label for="tel-sign">Phone</label>
                            <input type="tel" name="phone" placeholder="0000 000000" id="tel-sign">
                            <p class="error-text">Insert a valid Phone!</p>
                        </div>
                        <div class="form-sign">
                            <label for="dir-sign">Address</label>
                            <input type="text" name="address" placeholder="Cordoba 1234" id="dir-sign">
                            <p class="error-text">Insert a valid Address!</p>
                        </div>
                        <div class="form-sign">
                            <label for="location-sign">City</label>
                            <input type="text" name="city" placeholder="Rosario" id="location-sign">
                            <p class="error-text">Insert a valid City!</p>
                        </div>
                        <div class="form-sign">
                            <label for="cp-sign">Zip Code</label>
                            <input type="number" name="zip" placeholder="2000" id="cp-sign">
                            <p class="error-text">Insert a valid Zip Code!</p>
                        </div>
                        <div class="form-sign">
                            <label for="email-sign">Email</label>
                            <input type="text" name="email" placeholder="Email@email.com" id="email-sign">
                            <p class="error-text">Insert a valid Email!</p>
                        </div>
                        <div class="form-sign">
                            <label for="pass-sign">Password</label>
                            <input type="password" name="password" placeholder="Password" id="pass-sign">
                            <p class="error-text">Insert a valid Password!</p>
                        </div>
                        <div class="form-sign">
                            <label for="repass-sign">Confirm Password</label>
                            <input type="password" name="password" placeholder="Confirm Password" id="repass-sign">
                            <p class="error-text">Passwords do not match!</p>
                        </div>
                        <div class="form-sign">
                            <button class="btn-sign">Create account</button>
                            <a href="index.html" class="home">Home</a>
                        </div>
                    </form>
                </div>
                <div class="hide-cartel">
                    <div class="modal">
                        <div class="modal-header">
                            <h2>Validation results</h2>
                            <p class="close-modal">X</p>
                        </div>
                        <ul>
                            <li>Name : <span class="inner-span"></span></li>
                            <li>Surname : <span class="inner-span"></span></li>
                            <li>Id : <span class="inner-span"></span></li>
                            <li>Date of Birth : <span class="inner-span"></span></li>
                            <li>Phone : <span class="inner-span"></span></li>
                            <li>Address : <span class="inner-span"></span></li>
                            <li>Location : <span class="inner-span"></span></li>
                            <li>Zip Code : <span class="inner-span"></span></li>
                            <li>Email : <span class="inner-span"></span></li>
                            <li>Password : <span class="inner-span"></span></li>
                            <li>Confirm Password : <span class="inner-span"></span></li>
                        </ul>
                    </div>
                </div>
                <div class="hide-cartel">
                    <div class="modal">
                        <div class="modal-header">
                            <h2 class="inner-cartel"></h2>
                            <p class="close-modal">X</p>
                        </div>
                    </div>
                </div>
            </main>
            <footer>
                <div class="social-media">
                    <a href="#"><img src="../assets/twitter.png" alt="icon of twitter"></a>
                    <a href="#"><img src="../assets/linkedin.png" alt="icon of linkedin"></a>
                    <a href="#"><img src="../assets/ig.png" alt="icon of instagram"></a>
                    <a href="#"><img src="../assets/fb.png" alt="icon of facebook"></a>
                </div>
                <div class="location">
                    <h4>Rosario, Argentina</h4>
                    <h4>Copyright © 2022 Trackgenix. All rights reserved</h4>
                </div>
            </footer>
        </div>
        <script src="../javascript/sign-up.js"></script>
    </body>
</html>