header {
    background-color: #AACE9B;
    position: relative;
    height: 110px;
}

header h1{
    font-family: Righteous;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-left: 82px;
    position: absolute;
    top: 20px;
}

header nav {
    position: absolute;
    right: 0;
    top: 44px;

}

header nav ul li{
    display: inline-block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.05em;
    padding-right: 79px;
    text-transform: uppercase;
    color: #000;
}

header nav ul li a:visited {
    color: #000;
}

header nav ul li a:hover {
    color: #f4f4f4;
}