.main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.text-main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.text-main h2{
    text-align: center;
    font-size: 2.5rem;
    line-height: 3rem;
    text-decoration: none;
}

.text-main p{
    line-height: 1.5rem;
    font-weight: 400;
    margin: 1rem 0;
    max-width: 500px;
}

.flex-img{
    border-radius: 0;
    margin: 2rem 0;
    
    max-width: max-content;
    min-width: 50%;
    width: 85%;
    height: auto;
}

.main button{
    border-radius: 15px;
    padding: 0.5rem 1.2rem;
    margin-bottom: 2rem;
    width: 35%;
    align-self: center;
    border: 3px solid #AACE9B;
    background-color: #fff;
}

.functions{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.functions .box-func{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 2rem 0;
}

.box-func h3{
    margin: 0.6rem 0;
    font-weight: 500;
    font-size: 1.5rem;
}

.box-func p{
    font-size: 1rem;
    line-height: 1.2rem;
}

.box-func img{
    max-height: 100px;
    width: auto;
    margin-right: 2rem;
}

.assets{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.assets .flex-assets{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.assets img{
    margin-top: 2rem;
    border-radius: 1rem;
}

.assets h3{
    margin: 0.6rem 0;
    font-weight: 500;
    font-size: 1.5rem;
}

.assets p{
    font-size: 1rem;
    line-height: 1.2rem;
    margin: 1rem 0;
}

.assets button{
    padding: 0.4rem 1.2rem;
    border: none;
    background-color: #AACE9B;
    color: #000;
    border-radius: 0.8rem;
    margin-bottom: 1rem;
}

.main-form form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 1rem 0;
}

.main-form input, .main-form select, .main-form textarea{
    width: 90%;
    padding: 0.3rem 0.4rem;
    margin: 0.8rem auto;
    border-radius: 0.2rem;
    border: .5px solid #c4c4c4;
}

.main-form textarea{
    height: 10rem;
    resize: none;
}

.flex-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    margin-bottom: 2rem;
}

.flex-buttons button{
    padding: 0.4rem 1.2rem;
    background-color: #AACE9B;
    color: #000;
    border-radius: 8px;
    border: 0.2rem solid #AACE9B;
    
}

.flex-buttons button:last-child{
    background-color: #fff;
    color: #000;
}

.main-about h2{
    margin-bottom: 0;
}

.about{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    text-align: center;
}

.text-about p{
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.8rem;
    margin-bottom: 1rem;
    max-width: 548px;
}

.about img{
    border-radius: 15px;
}

.main-our .our{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.text-our h4{
    text-decoration: underline #AACE9B;
    font-weight: 500;
    font-size: 2rem;
    margin: 1rem 0;
}

.text-our li{
    font-weight: 300;
    font-size: 1.4rem;
}

@media (min-width: 768px) {
    .main{
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .main button{
        min-width: 176.01px;
    }

    .functions .box-func{
    flex-direction: row;
    text-align: left;
    }

    .main-form input{
        width: 45%;
    }

    .flex-buttons{
        flex-direction: row;
        justify-content: center;
    }

    .flex-buttons button{
        margin: 0 1rem;
    }
}

@media (min-width: 1024px) {
    .functions{
        justify-content: space-between;
    }

    .functions .box-func{
        width: 45%;
    }

    .assets{
        justify-content: space-between;
    }

    .assets .flex-assets{
        width: 45%;
    }

    .flex-assets button{
        align-self: flex-start;
        margin-top: 0.6rem;
    }

    .vertical-line{
        width: 2px;
        height: 450px;
        border-radius: 10px;
        background-color: #c4c4c4;
    }
}