

body {
    font-family: 'Roboto';
    width: 100vw;
    /* overflow-x: hidden; */
    letter-spacing: 0.05em;
}

header {
    background-color: #AACE9B;
}

aside {
    background-color: #EDEDED;
}

.flex-img img, .about img, .assets img{
    width: 100%;
    height: auto;
}

.container{
    width: 90vw;
    margin: auto;
}

.main, .main-about, .main-assets, .main-form, .main-func, .main-our{
    margin: 2rem 0;
}

a{
    color: #000;
}

.main, .main-func, .main-assets, .main-form, .main-about, .main-our{
    border-bottom: 2px solid #c4c4c4c4;
}

h2{
    padding-bottom: 3px;
    text-decoration: underline #AACE9B;
    font-weight: 500;
    font-size: 1.5rem;
}

button{
    text-transform: uppercase;
}