body {
    display: flex;
    width: 100%;
    letter-spacing: 0.05em;
    font-family: 'Roboto';
}
.flex-aside {
    background-color: #EDEDED;
}

header {
    background-color: #AACE9B;
}
a{
    color: #000;
}
.container{
    margin: auto;
    width: 90%;
}
.main, .main-about, .main-assets, .main-form, .main-func, .main-our{
    margin: 2rem 0;
}
.main, .main-func, .main-assets, .main-form, .main-about, .main-our{
    border-bottom: 2px solid #c4c4c4;
}
h2{
    padding-bottom: 3px;
    text-decoration: underline #AACE9B;
    font-weight: 500;
    font-size: 1.5rem;
}
.flex-img img, .about img, .assets img{
    max-width: max-content;
    width: 100%;
    height: auto;
}
button{
    text-transform: uppercase;
}